
$dark: #333;
$light: #f2f2f2;


$primary-color: #7159c1;
$second-color: #9c2da7;
$third-color: #c8d146;

//Cores Sistema
:root {
    --primary: red;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
  }

//RESET CSS
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

body {
    background-color: $light;
    color: set-text-color($light);   
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: end;

    background-color: yellow;
    font-size: 1rem;
}
//FUNCAO MUDAR COR 
@function set-text-color($color) {
    @if lightness($color) > 70 {
        @return $dark;
    }
    @else {
        @return #f2f2f2;
    }
}
.item {}
