
:root {
    --body-bg: #fafafa;
    --body-color: #555;
    --link-color: #222;
    --link-color-hover: #ec5840;

    --primary-bg: #38517E;
    --color-text: #fafafa;

    --link-color-hover-bg-primary: #b4dce7;

    --second-bg: #ec5840;
    --second-color-text: #fafafa;

}

.dark-mode:root {
    --body-bg: #212529;
    --body-color: #899095;
    --link-color: #dee2e6;
    --link-color-hover: #3cc368;

    --primary-bg: #333;
    --color-text: #fafafa;

    --link-color-hover-bg-primary: #b4dce7;

    --second-bg: #38517E;
    --second-color-text: #fafafa;
}
@mixin google-font($family) {
    @import url("http://fonts.googleapis.com/css?family=#{$family}");
  }
  
  @include google-font("Nunito");

  body {
    font-family: 'Nunito', sans-serif;
  }


body {
    background-color: var(--body-bg);
    color: var(--body-color);    
}

a {
    color: var(--link-color);

    &:hover {
        color: var(--link-color-hover);

    }

}

%bg-primary {
    background-color: var(--primary-bg);
    color: var(--color-text);
}
%bg-second {
    background-color: var(--second-bg);
    color: var(--second-color-text);
}
