@import "./cores";
@import "./utils";

//=============== LAYOUTS =====================

#wrapper {
    width: 100%;
}
nav {
    @extend %bg-primary;
    @extend %padding;

    color: #fff;
    background-color: blue;
      
}
.item {
    @extend %boxEffect;
    // @extend %test;
}
