@import "./cores";
@import "./utils";

//=============== LAYOUTS =====================

nav {
    
    @extend %bg-primary;

    a {
        color: var(--primary-color-text);
    
        &:hover {
            color: var(--link-color-hover-bg-primary);
    
        }
    
    }
      
}
// MATERIALIZE CUSTOM
.nav-wrapper {
    @extend %container90;
}
.btn, .btn-large {
    @extend %bg-second;

    &:hover {
        background-color: var(--second-bg);
        color: var(--second-color-text);

    }

}

.item {
    @extend %boxEffect;
    // @extend %test;
}
