@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Nunito");
@import url("http://fonts.googleapis.com/css?family=Nunito");
@import url("http://fonts.googleapis.com/css?family=Nunito");
body {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

:root {
  --body-bg: #fafafa;
  --body-color: #555;
  --link-color: #222;
  --link-color-hover: #ec5840;
  --primary-bg: #38517E;
  --color-text: #fafafa;
}

.dark-mode:root {
  --body-bg: #212529;
  --body-color: #899095;
  --link-color: #dee2e6;
  --link-color-hover: #3cc368;
  --primary-bg: #333;
  --color-text: #fafafa;
}

body {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

nav {
  background-color: var(--primary-bg);
  color: var(--color-text);
}

/* PADDING :: superior | horizontal | inferior */
nav {
  padding: 1em 1em 1.0em;
}

.item {
  -webkit-box-shadow: 0.7rem 0.8rem 0.9rem -1rem  #666;
          box-shadow: 0.7rem 0.8rem 0.9rem -1rem  #666;
  /* 
    SHADOW :: 
        1º valor : Desloca HORIZONTAL |   Positivo-a-direita | Negativo-a-esquerda |
        2º valor : Desloca VERTICAL |   Positivo-pra Baixo | Negativo-pra Cima
        3º valor : filtro Blur | |
        4º valor : expansao do Blur | |
        5º valor : Cor | |

    */
}

#wrapper {
  width: 100%;
}

nav {
  color: #fff;
  background-color: blue;
}

/* PADDING :: superior | horizontal | inferior */
nav {
  padding: 1em 1em 1.0em;
}

.item {
  -webkit-box-shadow: 0.7rem 0.8rem 0.9rem -1rem  #666;
          box-shadow: 0.7rem 0.8rem 0.9rem -1rem  #666;
  /* 
    SHADOW :: 
        1º valor : Desloca HORIZONTAL |   Positivo-a-direita | Negativo-a-esquerda |
        2º valor : Desloca VERTICAL |   Positivo-pra Baixo | Negativo-pra Cima
        3º valor : filtro Blur | |
        4º valor : expansao do Blur | |
        5º valor : Cor | |

    */
}

:root {
  --body-bg: #fafafa;
  --body-color: #555;
  --link-color: #222;
  --link-color-hover: #ec5840;
  --primary-bg: #38517E;
  --color-text: #fafafa;
}

.dark-mode:root {
  --body-bg: #212529;
  --body-color: #899095;
  --link-color: #dee2e6;
  --link-color-hover: #3cc368;
  --primary-bg: #333;
  --color-text: #fafafa;
}

body {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

nav {
  background-color: var(--primary-bg);
  color: var(--color-text);
}

:root {
  --body-bg: #fafafa;
  --body-color: #555;
  --link-color: #222;
  --link-color-hover: #ec5840;
  --primary-bg: #38517E;
  --color-text: #fafafa;
}

.dark-mode:root {
  --body-bg: #212529;
  --body-color: #899095;
  --link-color: #dee2e6;
  --link-color-hover: #3cc368;
  --primary-bg: #333;
  --color-text: #fafafa;
}

body {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

nav {
  background-color: var(--primary-bg);
  color: var(--color-text);
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: yellow;
  font-size: 1rem;
}
/*# sourceMappingURL=global.css.map */