@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Nunito");
@import url("http://fonts.googleapis.com/css?family=Nunito");
@import url("http://fonts.googleapis.com/css?family=Nunito");
@import url(/home/rzj/appp/GITS/Bolepaint__Base--Sass--Css--Materialize/styles/sass/externos/frameworks/bootstrap.css);
body {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

:root {
  --body-bg:	#fafafa;
  --body-color:	#555;
  --primary-bg:	#2980b9;
  --primary-color-text:	#fafafa;
  --link-color-hover-primary-bg:	#b4dce7;
  --primary-bg-effect:	#b4dce7;
  --second-bg:	#ec5840;
  --second-color-text:	#fafafa;
  --link-color-hover-second-bg:	#ec5840;
  --second-bg-effect:	var(--second-bg);
  --third-bg:	#880e4f;
  --third-color-text:	#f2f2f2;
  --link-color-hover-third-bg:	#f2f2f2;
  --third-bg-effect:	#b4dce7;
  --link-color:	#222;
  --link-color-hover:	 #ec5840;
}

.dark-mode:root {
  --body-bg:	#212529;
  --body-color:	#f2f2f2;
  --primary-bg:	#333;
  --primary-color-text:	#fafafa;
  --link-color-hover-primary-bg:	#b4dce7;
  --primary-bg-effect:	#b4dce7;
  --second-bg:	#ec5840;
  --second-color-text:	#fafafa;
  --link-color-hover-second-bg:	#3cc368;
  --second-bg-effect:	var(--second-bg);
  --third-bg:	#880e4f;
  --third-color-text:	#f2f2f2;
  --link-color-hover-third-bg:	#f2f2f2;
  --third-bg-effect:	#b4dce7;
  --link-color:	#222;
  --link-color-hover:	 #ec5840;
}

body {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

nav {
  background-color: var(--primary-bg);
  color: var(--primary-color-text);
}

.btn, .btn-large {
  background-color: var(--second-bg);
  color: var(--second-color-text);
}

.nav-wrapper {
  width: 90%;
  margin: 0 auto;
}

/* PADDING :: superior | horizontal | inferior */
.item {
  -webkit-box-shadow: 0.7rem 0.8rem 0.9rem -1rem  #666;
          box-shadow: 0.7rem 0.8rem 0.9rem -1rem  #666;
  /* 
    SHADOW :: 
        1º valor : Desloca HORIZONTAL |   Positivo-a-direita | Negativo-a-esquerda |
        2º valor : Desloca VERTICAL |   Positivo-pra Baixo | Negativo-pra Cima
        3º valor : filtro Blur | |
        4º valor : expansao do Blur | |
        5º valor : Cor | |

    */
}

nav a {
  color: var(--primary-color-text);
}

nav a:hover {
  color: var(--link-color-hover-bg-primary);
}

.btn:hover, .btn-large:hover {
  background-color: var(--second-bg);
  color: var(--second-color-text);
}

.nav-wrapper {
  width: 90%;
  margin: 0 auto;
}

/* PADDING :: superior | horizontal | inferior */
.item {
  -webkit-box-shadow: 0.7rem 0.8rem 0.9rem -1rem  #666;
          box-shadow: 0.7rem 0.8rem 0.9rem -1rem  #666;
  /* 
    SHADOW :: 
        1º valor : Desloca HORIZONTAL |   Positivo-a-direita | Negativo-a-esquerda |
        2º valor : Desloca VERTICAL |   Positivo-pra Baixo | Negativo-pra Cima
        3º valor : filtro Blur | |
        4º valor : expansao do Blur | |
        5º valor : Cor | |

    */
}

:root {
  --body-bg:	#fafafa;
  --body-color:	#555;
  --primary-bg:	#2980b9;
  --primary-color-text:	#fafafa;
  --link-color-hover-primary-bg:	#b4dce7;
  --primary-bg-effect:	#b4dce7;
  --second-bg:	#ec5840;
  --second-color-text:	#fafafa;
  --link-color-hover-second-bg:	#ec5840;
  --second-bg-effect:	var(--second-bg);
  --third-bg:	#880e4f;
  --third-color-text:	#f2f2f2;
  --link-color-hover-third-bg:	#f2f2f2;
  --third-bg-effect:	#b4dce7;
  --link-color:	#222;
  --link-color-hover:	 #ec5840;
}

.dark-mode:root {
  --body-bg:	#212529;
  --body-color:	#f2f2f2;
  --primary-bg:	#333;
  --primary-color-text:	#fafafa;
  --link-color-hover-primary-bg:	#b4dce7;
  --primary-bg-effect:	#b4dce7;
  --second-bg:	#ec5840;
  --second-color-text:	#fafafa;
  --link-color-hover-second-bg:	#3cc368;
  --second-bg-effect:	var(--second-bg);
  --third-bg:	#880e4f;
  --third-color-text:	#f2f2f2;
  --link-color-hover-third-bg:	#f2f2f2;
  --third-bg-effect:	#b4dce7;
  --link-color:	#222;
  --link-color-hover:	 #ec5840;
}

body {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

nav {
  background-color: var(--primary-bg);
  color: var(--primary-color-text);
}

.btn, .btn-large {
  background-color: var(--second-bg);
  color: var(--second-color-text);
}

:root {
  --body-bg:	#fafafa;
  --body-color:	#555;
  --primary-bg:	#2980b9;
  --primary-color-text:	#fafafa;
  --link-color-hover-primary-bg:	#b4dce7;
  --primary-bg-effect:	#b4dce7;
  --second-bg:	#ec5840;
  --second-color-text:	#fafafa;
  --link-color-hover-second-bg:	#ec5840;
  --second-bg-effect:	var(--second-bg);
  --third-bg:	#880e4f;
  --third-color-text:	#f2f2f2;
  --link-color-hover-third-bg:	#f2f2f2;
  --third-bg-effect:	#b4dce7;
  --link-color:	#222;
  --link-color-hover:	 #ec5840;
}

.dark-mode:root {
  --body-bg:	#212529;
  --body-color:	#f2f2f2;
  --primary-bg:	#333;
  --primary-color-text:	#fafafa;
  --link-color-hover-primary-bg:	#b4dce7;
  --primary-bg-effect:	#b4dce7;
  --second-bg:	#ec5840;
  --second-color-text:	#fafafa;
  --link-color-hover-second-bg:	#3cc368;
  --second-bg-effect:	var(--second-bg);
  --third-bg:	#880e4f;
  --third-color-text:	#f2f2f2;
  --link-color-hover-third-bg:	#f2f2f2;
  --third-bg-effect:	#b4dce7;
  --link-color:	#222;
  --link-color-hover:	 #ec5840;
}

body {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

nav {
  background-color: var(--primary-bg);
  color: var(--primary-color-text);
}

.btn, .btn-large {
  background-color: var(--second-bg);
  color: var(--second-color-text);
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: yellow;
  font-size: 1rem;
}
/*# sourceMappingURL=app.css.map */